.main-logo, .task-input {
  margin: 0 auto;
  text-align: center;
}

.main-logo {
  margin: 10px;
}

.task-input {
  font-size: 24px;
  padding: 20px;
  width: 400px;
}
.task-list {
  text-align: center;
}
.task {
  margin: 3px;
  border-color: #fff;
  font-size: 24px;
  height: 50px;
  border: 1px solid #eee;
}
.sidebar {
  float: left;
  width: 20%;
  background-color: grey;
}
