body {
  margin: 0;
  padding: 0;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

/*signin/signup forms*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.mess, .mess:hover {
  color: #4d394b;
  text-decoration: none;
}
.form-signin-heading {
  color: #4d394b;
}
/*signin/signup forms END*/

.main-logo, .task-input {
  margin: 0 auto;
  text-align: center;
}

.main-logo {
  margin: 10px;
}

.task-input {
  font-size: 24px;
  padding: 20px;
  width: 500px;
}
.task-list {
  text-align: center;
}

.sidebar-constants {
  margin: 0 auto;
  text-decoration: none;
  margin-left: 15px;
  color: black;
}

.sidebar-projects {
  border-bottom: 1px solid;
  margin-right: 5px;
}

.add-project-icon {
  max-width: 100%
}

.projects-list {
  list-style-type: none;
}

.auth-error {
  visibility: hidden;
}

.show-auth-error {
  color: red;
  visibility: visible;
}
