
<aside>
  <!-- PROJECTS FEATURE -->
  <div class="logo">
    <p>Fridge</p>
  </div>
  <div class="user" ng-controller="TasksController">
    <p>Welcome, {{ cUser }}</p>
  </div>
  <div class="projects-container" ng-controller="TasksController">
    <h3>YOUR GROUPS</h3>
    <form class="new-proj-form" ng-submit="addProject()">
      <input class="form-control" type="text" name="project" placeholder="add new..." ng-model="project.groupName">
      <!-- <input type="button" value="Add Project"> -->
    </form>
    <br>
    <div class="projects-list-container">
      <ul class="projects-list">
        <li ng-repeat="proj in allProjects">
          <a data="{{proj.name}}" data="{{proj._id}}" ng-click="relocate(proj.name, proj._id)">{{proj.name}}</a>
          <span data="{{proj._id}}" ng-click="deleteGroup(proj._id)">delete</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- PROJECTS FEATURE -->
</aside>

<div class="content">
  <!-- the ui-view directive is where our templates will be loaded into when navigated to -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" ng-controller="AuthController">
          <!-- clicking on 'logout' redirects user to login and removes session token from local storage -->
          <li><a href="#" ng-click="signout()">Signout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="wraper" ng-controller="TasksController">
    <div class="current-proj-name-container" ng-repeat="projName in currentProjName">
      <h3>{{projName}}</h3>
    </div>

    <div class="task-input">
      <form class="form-inline" ng-submit="onSubmit(input, toUser)">
        <div class="form-group">
          <input type="text" ng-model="input" class="form-control" placeholder="Add New Task">
          <input type="text" ng-model="toUser" class="form-control" placeholder="To User(optional)">
        </div>
        <button type="submit" class="btn btn-default" value="Add Task">Add Task</button>
      </form>
    </div>
    <h3>Current Tasks</h3>
    <div class="task-list-pending-container">
      <div class="task-list-pending">
        <div class="task task-pending" ng-repeat="task in allTasks | filter:{completed:false} | orderBy: '-created_at':true">

            {{task.name}} --- {{task.createdAt | date:'HH:mm MM/dd/yyyy' }}

          <span data="{{task._id}}" ng-click="deleteById(task._id)" style="float:right"><button class="btn btn-default">Delete</button></span>
          <span data="{{task._id}}" ng-click="complete(task._id)" style="float:right"><button class="btn btn-default">Complete</button></span>
        </div>
      </div>
    </div>


    <hr style="background-color:black; height:5px;">

    <h3>Completed Tasks</h3>

    <div class="task-list">
      <div class="task" ng-repeat="task in allTasks | filter:{completed:true} | orderBy: '-created_at':true">
          {{task.name}} --- {{task.createdAt | date:'HH:mm MM/dd/yyyy' }}
        <span data="{{task._id}}" ng-click="deleteById(task._id)" style="float:right"><button class="btn btn-default">Delete</button></span>

      </div>
    </div>

  </div>

</div>


<!-- style="position: absolute; left: -9999px; width: 1px; height: 1px;" -->
<!-- tabindex="-1" -->
