<div class="col-sm-9">
  <div ng-controller="TasksController">
    <h2>Welcome, {{ currentUser }}</h2>
    <div class="task-input">
      <form class="form-inline" ng-submit="onSubmit(input)">
        <div class="form-group">
          <input type="text" ng-model="input" class="form-control" placeholder="Add New Task">
        </div>
        <button type="submit" class="btn btn-default" value="Add Task">Add Task</button>
      </form>
    </div>
    <h2>Current Tasks</h2>
    <div class="task-list">
      <div class="task" ng-repeat="task in allTasks | filter:{completed:false} | orderBy: '-created_at':true">

          {{task.name}} --- {{task.createdAt | date:'HH:mm MM/dd/yyyy' }}

        <span data="{{task._id}}" ng-click="deleteById(task._id)" style="float:right"><button class="btn btn-default">Delete</button></span>
        <span data="{{task._id}}" ng-click="complete(task._id)" style="float:right"><button class="btn btn-default">Complete</button></span>
      </div>
    </div>

    <hr style="background-color:black; height:5px;">

    <h2>Completed Tasks</h2>
    <div class="task-list">
      <div class="task" ng-repeat="task in allTasks | filter:{completed:true} | orderBy: '-created_at':true">
        <span data="{{task._id}}" ng-click="complete(task._id)" class="status">Status: {{task.completed}} //  </span>
          {{task.name}} --- {{task.createdAt | date:'HH:mm MM/dd/yyyy' }}
        <span data="{{task._id}}" ng-click="deleteById(task._id)" style="float:right"><button class="btn btn-default">Delete</button></span>
      </div>
    </div>

  </div>

</div>


<!-- style="position: absolute; left: -9999px; width: 1px; height: 1px;" -->
<!-- tabindex="-1" -->
