<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()' novalidate>

    <input type='text' ng-class="{'error': signupForm.user.$invalid && !signupForm.user.$pristine}" ng-model='user.username' name='user' ng-minlength="6" ng-maxlength="14" required>
    <p ng-show="signupForm.user.$invalid && !signupForm.user.$pristine">Username must be greater than 5 characters</p>


    <input type="password" ng-class="{'error': signupForm.pass.$invalid && !signupForm.pass.$pristine}" ng-model='user.password' name='pass' ng-minlength="6" ng-maxlength="14" required>
    <p ng-show="signupForm.pass.$invalid && !signupForm.pass.$pristine">Password must be greater than 5 and less than 15 characters</p>


    <button>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
