<div class='signin'>
  <h1>signin</h1>
  <br>
  <form name="signinForm" class="input" ng-submit='signin()'  novalidate>

    <p style="font-weight:bold">
      Username
    </p>
    <input ng-class="{'error': signinForm.user.$invalid && !signinForm.user.$pristine}"
    type='text' ng-model='user.username' name='user'  ng-minlength="5" ng-maxlength="15"
    required>
    <p class="signin-error" ng-show="signinForm.user.$invalid && !signinForm.user.$pristine">
      Username invalid
    </p>
    <br>
    <br>
    <p style="font-weight:bold">
      Password
    </p>
    <input type="password" ng-class="{'error': signinForm.pass.$invalid && !signinForm.pass.$pristine}"
    ng-model='user.password' name='pass' ng-minlength="1" required>
    <p ng-show="signinForm.pass.$invalid && !signinForm.pass.$pristine">
      Password Invalid
    </p>

    <p class="auth-error">
      Username or password invalid
    </p>

    <br>
    <button>signin</button>

  </form>
  <br>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
